* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 48px;
}

a {
    font-size: 24px;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(183,174,135,1) 50%, rgba(133,133,133,1) 100%); 
}

header {
    display: flex;
    text-align: center;
    margin: 30px;
}

.swiper {
    width: 90%;
    max-width: 100%;
    max-height: 100%;
    height: 70dvh;
    aspect-ratio: 1 / 1; /* This keeps the swiper square */
    filter: drop-shadow(black 0px 0px 5px);
    border-radius: 3px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-zoom-container img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover; /* This ensures the image covers the container without distorting */
    border-radius: 3px;
}

.more-info {
    position: fixed;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    background: rgba(83, 83, 83, 0.8);
    width: 130px;
    height: auto;
    text-align: center;
    border-radius: 6px;
    z-index: 20;
    font-weight: 700;
}

.more-info:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    color: #000;
}

.thumbs-swiper {
    margin-top: 20px; /* Adjust as needed */
    display: flex;
}

.thumbs-swiper .swiper-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.mySwiper   {
    width: 90%;
    overflow: hidden;
    filter: drop-shadow(black 0px 0px 5px);
}

.mySwiper .swiper-slide {
    height: 100%;
}

.thumbs-swiper .swiper-slide {
    flex: 0 0 auto;
    width: auto; /* Adjust thumb width as needed */
    height: auto; /* Adjust thumb height as needed */
    overflow: hidden; /* Hide overflow */
    transition: filter 1.2s ease; /* Add transition effect */
    filter: opacity(50%);
    border: solid 1px black;
}


.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    transition:  1.2s ease; /* Add transition effect */
    filter: none;
    border: solid 1px black;

}

.thumbs-swiper .swiper-slide img {
    height: auto;
    width: 100%; /* Adjust thumb image width */
    object-fit: cover; /* Ensure the image covers the thumb container */
}

.swiper-navigation {
	width: 40px;
	height: auto;
	z-index: 10;
    --swiper-navigation-size: 30px;
}

.swiper-button {
	background: rgba(136, 136, 136, 0.5);
	color: #fff;
	font-size: 18px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 6px;
    transition: 0.3s ease;
}

.swiper-button:hover{
    color: black;
	background: rgba(255, 255, 255, 1);
}
